<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="baseDir">.</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %logger{36}:%L - %msg%n"/>
        </Console>
        <RollingFile name="File" fileName="${baseDir}/log/today.log" filePattern="${baseDir}/log/today.log.%d{yyyy-MM-dd}" append="true">
            <PatternLayout pattern="[%d] %-5p %l - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="1">
                <Delete basePath="${baseDir}/log">
                    <IfFileName glob="today.log.*">
                        <IfLastModified age="30d">
                            <IfAccumulatedFileCount exceeds="10"/>
                        </IfLastModified>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Application Loggers -->
        <Logger name="io.devfactory" level="DEBUG" additivity="false">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- spring -->
        <logger name="org.springframework.core" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org.springframework.beans" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org.springframework.context" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org.springframework.web" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>

        <!-- apache commons -->
        <logger name="org.apache.commons.digester" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org.apache.commons.beanutils" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>

        <!-- log4jdbc-log4j2 -->
        <logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="jdbc.audit" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="jdbc.resultset" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="jdbc.resultsettable" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="jdbc.connection" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>

        <!-- Root Logger -->
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>